<footer>
  <nav class="navbar bg-secondary navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
      <h6 class="navbar-text">Contact: Baha01ab@gmail.com <i class="fa-brands fa-lg fa-square-linkedin"></i> <a href="https://www.linkedin.com/in/baha-imran-6352a7251/">Baha Imran</a> <i class="fa-brands fa-lg fa-square-github"></i> <a href="https://github.com/bahaimran-cloud">Bahaokz</a> | © 2025 Assessment Tracker. All rights reserved</h6>
    </div>
  </nav>
</footer>

</body>
</html>
