<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/content/app.css' />
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- Use bootstrap bundle which includes Popper (required for dropdowns) -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>