<%- include('partials/header') %>
  <div id="wrapper">
    <header>
      <h1>Projects</h1>
      <%- include('partials/main_nav') %>
    </header>

    <article> <!-- Majority of Page Content -->
      <h2>My Work</h2>
      <p>As I grow my skills in the field of IT, I stride to challenge myself as much as I can. With the skills I have aquired thus far, I try to create projects that test me and help me learn new things. Here are some of the projects I have worked on:</p>
      
      <section id="project-gallery"> <!-- Main Project Gallery Section -->
        <h2>Project Gallery</h2>

        <div class="project-box1"> <!-- Individual Project Box For Image Mystery -->
          <img src="asset/images/ImageMystery.png" alt="Project 1">
          <p>ImageMystery Game</p>
          <br>
          <p>This is a small console based game I made using Java in highschool. This game allows enables the user to go through different levels of puzzles where they are asked to solve the partially hidden ASCII image</p>
        </div>

        <div class="project-box2"> <!-- Individual Project Box For Website Design -->
          <img src="asset/images/website.png" alt="Project 2">
          <p>Creative Websites</p>
          <br>
          <p>In highschool, I was granted many oppertunities to design and create websites using website building tools such as Wix. One of the websites I designed was during my time at a Co-op placement where a client asked for a basic website for their company.</p>
        </div>

        <div class="project-box3"> <!-- Individual Project Box For Virtual Machine -->
          <img src="asset/images/virtual.png" alt="Project 3">
          <p>Build and Deploy Virtual Machine & Remote Desktop</p>
          <br>
          <p>I have used virtualization software like VirtualBox and VMware to create and manage virtual machines for both Windows and Linux. I have also set up remote desktop connections using tools like Microsoft Remote Desktop Protocol (RDP) and AnyDesk to access and control computers remotely, which is useful for remote work and technical support.</p>
        </div>

        <div style="clear: both;"></div> <!-- This line of code clears the float property to ensure proper layout for the project gallery (done on HTML and not CSS for clarity)-->
      </section>
        <section id="project-gallery2"> <!-- Second Project Gallery Section For Big Picture-->
          <h2>Project Gallery</h2>
        <div class="project-box4"> <!-- Individual Project Box For Network Design -->
          <img src="asset/images/Network.png" alt="Project 4">
          <p>Wide Area Network Configuration</p>
          <br>
          <p>This is a small scale network I designed using Cisco Packet Tracer. This was made during my first year in university as a final assignment. In this project, I configured multiple routers and switches to create a functional wide area network (WAN) that connects different office locations. Each location had a unique way of accessing the network aswell as the protocol used in each location.</p>

        </div>

        <div style="clear: both;"></div> <!-- This line of code clears the float property to ensure proper layout for the project gallery 2 (done on HTML and not CSS for clarity)-->
      </section>

    </article>

<%- include('partials/footer') %>