<%- include('partials/header') %>
  <div id="wrapper">
    <header>
      <h1><%= title %></h1>
      <%- include('partials/main_nav') %>
    </header>
    <div id="welcome-box"> <!-- Initial Welcome Message With Picture background -->
      <h2><mark>Welcome to Your Assessment Tracker</mark></h2>
      <p><mark>Organize your work, complete tasks, and contact me for help!</mark></p>
    </div>
    <article>
      <h2>Welcome!</h2>
      <p>This is my Assessment Tracker website. Explore the links above to view your tasks or to contact me for help.</p>
    </article>
    <article id="resume-box"> <!-- Additional Resume Section with Image -->
      <h2>Explore Your tasks</h2>
      <img src="/assets/images/Resume.png" alt="Baha Imran Resume">
      <p>This is a list of all your tasks. Click on a task to view details.</p>
    </article>

<%- include('partials/footer') %>